[Unit]
Description=Media converter bot for discord
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/node /apps/media-converter-discord-bot/dist/index.js
WorkingDirectory=/apps/media-converter-discord-bot

[Install]
WantedBy=multi-user.target
